*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(203, 166, 238);
}
.container{
   
    display: flex;
    border: 5px solid white;
    margin: 190px 490px;
    position: relative;
    background-color: white;
    border-radius: 10px;
    justify-content: space-between;
    width: 30%;
}

input{
    padding: 10px 20px;
    border: none;
    width: 100%;

}
img{
    width: 30px;
    height: 30px;
}
img:hover{
    cursor: pointer;
    opacity: 80%;
}